<!DOCTYPE html>
<html>
<head>
    <title>Matrículas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Sistema de Matrículas</h1>
        <hr>

        <h3>Seleccione un curso:</h3>
        <form action="/confirmacion" method="post">
            <div class="form-group">
                <label for="curso">Curso:</label>
                <select class="form-control" id="curso" name="curso">
                    <option value="Java">Java</option>
                    <option value="PHP">PHP</option>
                    <option value="Net">Net</option>
                </select>
            </div>
            <h3>Escoja su nivel :</h3>
            <label for="nivel">Nivel:</label>
            
            <div class="form-check">
                <input class="form-check-input" type="radio" name="nivel" id="nivel" value="Basico" checked>
                <label class="form-check-label" for="exampleRadios1">
                  Basico
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="nivel" id="nivel" value="Intermedio">
                <label class="form-check-label" for="exampleRadios2">
                  Intermedio
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="nivel" id="nivel" value="Avanzado">
                <label class="form-check-label" for="exampleRadios2">
                  Avanzado
                </label>
              </div>



            <h3>Seleccione un medio de pago:</h3>
            <div class="form-group">
                <label for="medioPago">Medio de Pago:</label>
                <select class="form-control" id="medioPago" name="medioPago">
                    <option value="Tarjeta de crédito">Tarjeta de crédito</option>
                    <option value="Transferencia bancaria">Transferencia bancaria</option>
                    <option value="Pago en efectivo">Pago en efectivo</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Confirmar Matrícula</button>
        </form>
    </div>
</body>
</html>
